@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&family=Raleway:wght@100;700&display=swap');

/* Estilos generales */

html,body {
    margin: 0;
    padding: 0;
}

:root {
    --azulOscuro: #04384d;
    --azulOscuroMedio: #007fab;
    --azulNormal: #00ccff;
    --azulClaroMedio: #75e5ff;
    --azulClaro: #effbff;

    --textoAzulOscuro: #effaff;
    --textoAzulOscuroMedio: #75deff;
    --textoAzulNormal: #065374;
    --textoAzulClaroMedio: #00638d;
    --textoAzulClaro: #0076ab;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--azulOscuroMedio);
    color: var(--textoAzulOscuroMedio);
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

/* Estilos propios */


.navbar {
    position: fixed;
    width: 100%;
    height: 40px;
    padding: 1%;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 100;

}

.navbar div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navbar .items {
    justify-content: center;
}

.navbar .userInterface {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.navbar a {
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: var(--textoAzulNormal);
    font-weight: 700;
    font-size: 20px;
    margin:5%
}

.navbar a:hover {
    color: var(--textoAzulClaro);
    text-shadow: 1px 2px 10px var(--textoAzulClaro);
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;    

    padding: 1%;
    background-color: var(--azulOscuro);
}

footer a {
    text-decoration: none;
}

.contact-info > p, .footerLinks > p {
    color: var(--textoAzulOscuro);
    font-weight: 700;
    font-size: 30px;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.footerUser {
    border: 1px solid #fff;
    padding: 1%;
    width: 25%;
    border-radius: 10px;
    margin: 0.5%;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--textoAzulOscuro)
}

.footerUser > p {
    margin: 2%;
}

.footerUser:hover {
    background: rgba(255, 255, 255, 0.38);
}

.footerUser >p:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 2px var(--textoAzulOscuroMedio);
}

.footerUser >p:nth-child(2) {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 2px var(--textoAzulOscuroMedio);
}

.footerUser a {
    text-decoration: none;
    color: var(--textoAzulOscuro);
    margin: 10px;
    font-size: 25px;
    padding: 0 5% 0 5%

}

.linksUser {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-info {
    width: 75%;
}

.contact-info > p {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin: 2%;
}

.footerLinks {
    width: 25%;
}


.footerLinks > a {
    text-decoration: none;
    color: var(--textoAzulOscuro);
    font-weight: 700;
    font-size: 20px;
    padding: 0 5% 0 5%;
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7);
}

/* Index */


.firstSec {
    background-image: url(./img/background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #000;
    font-weight: 400;
    line-height: 1.4;
    height:750px;
    padding-bottom: 75px;
}

.firstSec > h1 {
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    color: var(--azulOscuro);
    font-size: 75px;
    margin: 225px 0 0 0;
}

.firstSec > h3 {
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    color: var(--azulOscuro);
    font-size: 40px;
    font-size: 70px;
    margin: 0;
}

.firstSecFlex {
    padding:  1% 10% 3% 10%;
}

.firstSecText, .firstSecImg {
    width: 50%;
    padding:5%;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.firstSecImg img {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
}

.firstSecText p { 
    background: rgba(0, 0, 0, 0);
    border-radius: 16px;
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.7);
    text-shadow: 1px 0 5px rgba(4, 56, 77, 0.6);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(0, 0, 0, 0.56);
    padding: 10%;
}

.btn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 2px solid #000;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 700;
    color: #000;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.5);
    text-align: center;
    transition: all 0.2s;
  }
  
  .btn:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
  }

/* Notificaciones */ 

#notificationContainer {
    position: fixed;
    top: 10px;
    right: 10px;
    max-width: 500px;
} 
.notification-container {
    position: relative;
    margin-bottom: 4px;
}
.notification {
    display: none;
    padding: 50px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.success {
    background-color: #4CAF50;
    color: #fff;
}

.error {
    background-color: #f44336;
    color: #fff;
}

.warning {
    background-color: #ff9800;
    color: #fff;
}

.info {
    background-color: #ffeb3b;
    color: #333;
}

.close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 24px;
}


@media only screen and (max-width: 600px) {
    .firstSec {
        height: 100%;
    }

    .firstSec > h1 {
        font-size: 50px;
    }

    .firstSecFlex {
        flex-direction: column;
    }

    .firstSecText, .firstSecImg {
        width: 100%;
    }

    .firstSecText {
        margin-bottom: 5%;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerUsers {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .footerUser {
        width: 100%;
        margin: 0;
        margin-bottom: 5%;
    }
    .footerLinks {
        width: 100%;
        padding: 20px;
    }
}